[lang=pt-BR]{
    --translation-lang-contains: "Contém traduções do Bash";
    --translation-add-role: "Adicionar um cargo";
    --translation-user-settings-empty: 'Estranho, estamos em um lugar bizarro... \A Parece que você encontrou meu easter-egg \a \a \a - A user, Desenvolvedor do tema Bash';
    --translation-search-something: "Digite para procurar algo";
    --translation-theme-ver: "\a Bash ver " var(--bash-version) " por A user#6560";
    --translation-status-already-set: "Selecionado";
    --translation-metadata-update: "A METADATA do Bash foi atualizada. Por favor, reinstale o tema";
}
